.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginButton {
  font-weight: 400;
  font-size: 1.4vh;
  line-height: 1.85vh;
  letter-spacing: -0.05px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  margin-bottom: 1.5vh;
  margin-top: 3vh;
  background: #580EA2;
  border-radius: 6px;
  height: 3.63vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
